.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8a2b06;
    color: #fff;
    width: 100%;
    height: 5rem;
    z-index: 999;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;

}
.main-image{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
}
.main-image img{
    object-fit: cover;
}